# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env
frontend/venv/
frontend/.DS_Store

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.DS_Store
backend/ven/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
